/*
Footer CSS
*/
.footerLinks {
	text-decoration: none;
	color: #C9B369;
}
.footerLinks:visited {
	text-decoration: none;
	color: #C9B369;
}
.footerLinks:hover {
	text-decoration: none;
	color: #FAECC0;
}
.footerLinks.footerActive {
	text-decoration: none;
	color: #FAECC0;
}
/* Set the fixed height of the footer here */
#footer {
	padding: 10px 0 0 0;
	height: 50px;
	background-color: #f5f5f5;
	background-image: -webkit-linear-gradient(top, #423424 0%, #241E18 100%);
	background-image:      -o-linear-gradient(top, #423424 0%, #241E18 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#423424), to(#241E18));
	background-image:         linear-gradient(to bottom, #423424 0%, #241E18 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff423424', endColorstr='#ff241E18', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;
}
#footer.mobileFooter {
	
}

@media (max-width: 767px) {
	#footer {
		height: 100px;
	}
}
