.jumbo_subtitle {
	color: #777;
}

.dark_box {
	background-color: rgba(0,0,0,0.3);
	border-radius: 10px;
	padding: 0px 5px 25px 5px;
	text-shadow: 	1px 0px 2px rgba(0, 0, 0, .60),
					0px 1px 2px rgba(0, 0, 0, .60),
					-1px 0px 2px rgba(0, 0, 0, .60),
					0px -1px 2px rgba(0, 0, 0, .60);
}

.img-slider {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
	width: auto;
	position: relative;
	bottom: 300px;	
	
}

/*.intro {
    min-height: 250px;
    padding-bottom: 50px;
    margin-top: 50px;
    -moz-box-shadow:  0 2px 5px 0 #333;
    -webkit-box-shadow: 0 2px 5px 0 #333;
    box-shadow: 0 2px 5px 0 #333;
    position: relative;
    overflow: hidden;
}*/

.intro video {
    background: #222;
    width:100%;
    background-size: cover;
    transition: 1s opacity;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
}
