.jumbo_subtitle {
	color: #777;
}

.dark_box {
	background-color: rgba(0,0,0,0.3);
	border-radius: 10px;
	padding: 0px 5px 25px 5px;
	text-shadow: 	1px 0px 2px rgba(0, 0, 0, .60),
					0px 1px 2px rgba(0, 0, 0, .60),
					-1px 0px 2px rgba(0, 0, 0, .60),
					0px -1px 2px rgba(0, 0, 0, .60);
}

.img-slider {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
	width: auto;
	position: relative;
	bottom: 300px;	
	
}