<div ng-controller="userCtrl as user">
	<div class="color-bg topic-padding">
		<div class="container">
			<div class="jumbotron lil-jumbo boxShadow">
				<h2>{{userData.Username}}, <small>choose your favorites here.</small></h2>
			</div>
		</div>
	</div>
	<div class="drinks-bg topic-padding">
		<div class="container">
			<div class="panel panel-default  boxShadow">
				<div class="panel-heading">
					<div class="row inline-text">
						<div class="col-md-6">
							<h3>Your current favorites:</h3>
						</div>
						<div class="col-md-6">
							
						</div>
					</div>
				</div>
				<div class="panel-body">
					<table id="favorites" class="table panel-body">
						<thead>
							<tr class="text-muted">
								<th></th>
								<th>Item</th>
								<th>Delete</th>
								<th></th>
							</tr>
						</thead>	
						<tbody>
							<tr ng-repeat="item in userData.favorites">
								<th class="index" scope="row">{{$index+1}}</th>
								<td>{{item.Nick}}</td>
								<td>{{item.Price | number:2}} &euro;</td>
								<td><button class="btn btn-sm btn-danger deleteBtn" ng-click="deleteFavorite(item.Favorite_ID);"><span class="glyphicon glyphicon-trash"></span></button></td>
							</tr>
						</tbody>
					</table>
				</div> <!-- panel-body -->
			</div> <!-- panel -->
			<div class="panel panel-default boxShadow">
				<div class="panel-heading">
					<div class="row inline-text">
						<div class="col-md-6">
							<h3>Add a favorite here!</h3>
						</div>
						<div class="col-md-6">
							
						</div>
					</div>
				</div>
				<div class="panel-body" ng-controller="menuCtrl as menu">
					<div class="input-group">
						<select id="itemList" class="form-control">
							<option value="drink.Grocery_ID" class="topic" ng-repeat="drink in drinks">{{drink.Nick}}</option>
						</select>
						<span class="input-group-btn"><div id="addBtn" class="btn btn-success"> Add Drink to the list</div></span>
					</div>	<!-- group -->
					<br>
					<div class="input-group">
						<select id="itemList" class="form-control">
							<option value="sweet.Grocery_ID" class="topic" ng-repeat="sweet in sweets">{{sweet.Nick}}</option>
						</select>
						<span class="input-group-btn"><div id="addBtn" class="btn btn-success">Add Sweet to the list</div></span>
					</div>	<!-- group -->
				</div> 	<!-- panel-body -->				
			</div> <!-- panel-default -->
		</div> <!-- container -->
	</div> <!-- drinks-bg -->
</div>