<link rel="stylesheet" href="styles/lb.css">
<div ng-controller="lbCtrl as board">	
	<div class="color-bg topic-padding">
		<div class="container">
			<div class="jumbotron inline-text lil-jumbo">
				<h1>Leaderboard</h1>
			</div>
		</div>
	</div>
	<div class="dark-coffee-bg topic-padding">
		<div class="container">
			<!-- <div class="panel panel-default"> -->
				<div class="panel panel-default menuTable">
					<div class="panel-heading">
						<div class="row inline-text">
							<div class="col-md-6">
								<h2>Nightowl</h2>
							</div>
							<div class="col-md-6">
								<img class="lb-symbol" src="styles/images/symbols/owl.png" alt="">
							</div>
						</div>
					</div>
					<div class="panel-body">
						<table class="table panel-body">
							<thead>
								<tr>
									<th></th>
									<th></th>
									<th>Caffein</th>
								</tr>
							</thead>	
							<tbody>
								<tr ng-repeat="entry in caffein">
									<th scope="row">{{$index+1}}</th>
									<td>{{entry.name}}</td>
									<td>{{entry.value}} g</td>
								</tr>
							</tbody>
						</table>
					</div> <!-- panel-body -->
				</div> <!-- panel -->
			<!-- </div> -->
		</div>
	</div> <!-- coffee-bg -->
	<div class="color-bg topic-padding">
		<div class="container">
			<!-- <div class="jumbotron inline-text">
				<h1>Snacks</h1>
			</div> -->
			<br>
		</div>
	</div> <!-- color-bg -->
	<div class="chocolate-bg topic-padding">
		<div class="container">
			<!-- <div class="panel panel-default"> -->
				<div class="panel panel-default menuTable">
					<div class="panel-heading">
						<div class="row inline-text">
							<div class="col-md-6">
								<h2>Mr Energy</h2>
							</div>
							<div class="col-md-6">
								<img class="lb-symbol" src="styles/images/symbols/superman.png" alt="">
							</div>
						</div>
					</div>
					<div class="panel-body">
						<table class="table panel-body">
							<thead>
								<tr>
									<th></th>
									<th></th>
									<th>Joules</th>
								</tr>
							</thead>	
							<tbody>
								<tr ng-repeat="entry in sugar">
									<th scope="row">{{$index+1}}</th>
									<td>{{entry.name}}</td>
									<td>{{entry.value * 16.8}} kJ</td>
								</tr>
							</tbody>
						</table>
					</div> <!-- panel-body -->
				</div> <!-- panel -->
			<!-- </div> -->
		</div>
	</div> <!-- chocolate-bg -->
</div>
