<link rel="stylesheet" href="styles/menu.css">
<div ng-controller="menuCtrl as menu">
	<menu-modal editItem="editItem"></menu-modal>
	<div class="color-bg topic-padding">
		<div class="container">
			<div class="jumbotron inline-text lil-jumbo">
				<h2>Drinks</h2>
			</div>
		</div>
	</div>
	<div>
		<div class="dark-coffee-bg topic-padding">
			<div class="container">
				<div class="panel panel-default menuTable">
					<table class="table panel-body table-hover">
						<tbody id="drink-list">
							<tr ng-repeat="drink in drinks" data-toggle="tooltip" title="Noch {{drink.Amount}} verfügbar!" data-container="body" data-placement="bottom"  ng-class="{'hiddenItem' : drink.Visible == 0}">
								<th>{{drink.Nick}}</th>
								<td>{{drink.Info}}</td>
								<td>{{drink.Price | number:2}} &euro;</td>
								<td ng-show="true">
									<button class="btn btn-xs btn-info" data-id="{{drink.Grocery_ID}}" data-toggle="modal" data-target="#menuModal" ng-click="setNewEditItem(drink.Grocery_ID);"><span class="glyphicon glyphicon-pencil" ></span> edit</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div> <!-- coffee-bg -->
		<div class="color-bg topic-padding">
			<div class="container">
				<div class="jumbotron inline-text lil-jumbo">
					<h2>Snacks</h2>
				</div>
			</div>
		</div> <!-- color-bg -->
		<div class="chocolate-bg topic-padding">
			<div class="container">
				<div class="panel panel-default menuTable">
					<table class="table panel-body table-hover">
						<tbody id="item-list">
							<tr href ng-repeat="sweet in sweets" data-toggle="tooltip" title="Noch {{sweet.Amount}} verfügbar!" data-container="body" data-placement="bottom">
								<th>{{sweet.Nick}}</th>
								<td>{{sweet.Info}}</td>
								<td>{{sweet.Price | number:2}} &euro;</td>
								<td ng-show="true">
									<button class="btn btn-xs btn-info" data-id="{{sweet.Grocery_ID}}" data-toggle="modal" data-target="#menuModal" ng-click="setNewEditItem(sweet.Grocery_ID);"><span class="glyphicon glyphicon-pencil" ></span> edit</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div> <!-- chocolate-bg -->
	</div>
</div>
