<div>
	<link rel="stylesheet" href="styles/menuModal.css">
	<!-- Modal -->
	<div class="modal fade" id="menuModal" tabindex="-1" role="dialog" aria-labelledby="menuModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<div class="row">
						<button style="margin-right:20px;" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					</div>
					<div class="row">
						<div class="col-sm-6"><h4 class="modal-title" id="menuModalLabel">Edit the details of: </h4><hr style="margin: 8 auto"><h3>{{editItem().Nick}}</h3></div>
						<div class="col-sm-5">
							<img alt="Brand" src="styles/images/gif/loadingscreen_480x320.gif" class="logoMargin" style="margin-right:5px; width:100%; border-radius: 5px; box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.2); max-width: 260px;">
						</div>  <!-- images/tally_logo.png -->
					</div>
				</div>
				<div class="modal-body">
					<form class="form" id="formLogin"> 	
							<!-- <div class="form-group"> -->
							<div class="input-group">
								<span class="input-group-addon">Item name:</span> 
								<input type="text" id="Name" name="Name" maxlength="32" class="form-control" placeholder="{{editItem().Name}}" ng-model="setItem.Name">
							</div>
							<div class="input-group">	
								<span class="input-group-addon">Display name:</span> 
								<input type="text" id="Nick" name="Nick" maxlength="32" class="form-control" placeholder="{{editItem().Nick}}" ng-model="setItem.Nick">
							</div>
							<div class="input-group">	
								<span class="input-group-addon">Barcode:</span> 
								<input type="text" id="Barcode" name="Barcode" maxlength="32" class="form-control" placeholder="{{editItem().Barcode}}" ng-model="setItem.Barcode">
							</div>
							<div class="input-group">	
								<span class="input-group-addon">Amount:</span> 
								<input type="text" id="Amount" name="Amount" maxlength="32" class="form-control" placeholder="{{editItem().Amount}}" ng-model="setItem.Amount">
							</div>
							<div class="input-group">	
								<span class="input-group-addon">Price:</span> 
								<input type="text" id="Price" name="Price" maxlength="32" class="form-control" placeholder="{{editItem().Price}}" ng-model="setItem.Price">
								<span class="input-group-addon postfix">€</span>
							</div>
							<div class="input-group">	
								<span class="input-group-addon">Buy in price:</span> 
								<input type="text" id="Prime_Cost" name="Prime_Cost" maxlength="32" class="form-control" placeholder="{{editItem().Prime_Cost}}" ng-model="setItem.Prime_Cost">
								<span class="input-group-addon postfix">€</span>
							</div>
							<div class="input-group">	
								<span class="input-group-addon">Image path:</span> 
								<input type="text" id="Image" name="Image" maxlength="32" class="form-control" placeholder="{{editItem().Image}}" ng-model="setItem.Image">
							</div>
							<div class="input-group">	
								<span class="input-group-addon">Item info:</span> 
								<input type="text" id="Info" name="Info" maxlength="32" class="form-control" placeholder="{{editItem().Info}}" ng-model="setItem.Info">
							</div>
							<div class="input-group">	
								<span class="input-group-addon">Ingredients:</span> 
								<input type="text" id="Ingredients" name="Ingredients" maxlength="32" class="form-control" placeholder="{{editItem().Ingredients}}" ng-model="setItem.Ingredients">
							</div>
							<div class="input-group">	
								<span class="input-group-addon">Type 0/1:</span> 
								
								<select class="form-control" id="Typ_select" ng-model="setItem.Typ" convert-to-number>
									<option value="0">0</option>
									<option value="1">1</option>
								</select>
							</div>
							<div class="input-group">	
								<span class="input-group-addon">Type in Words:</span> 
								<select class="form-control" id="Type_Group_select" ng-model="setItem.Type_Group">
									<option value="Drinks">Drinks</option>
									<option value="Sweets">Sweets</option>
								</select>
							</div>
							<div class="input-group">	
								<span class="input-group-addon">Visible:</span> 
								
								<input disabled type="text" id="Info" name="Info" maxlength="32" class="form-control" placeholder="{{editItem().Visible}}">
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="toggleVisible()">
										<div ng-if="editItem().Visible == 1">
											Hide <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
										</div>
										<div ng-if="editItem().Visible != 1">
											Show <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
										</div>	
									</button>
								</span>
							</div>
								<!-- <button type="reset" class="btn btn-warning">Reset</button>
								<button type="submit" class="btn btn-success">Submit</button> -->
							<!-- </div> -->

							<!-- <div>
								<input  style="border-radius:10px 10px 0 0;" name="username" id="username"  type="text" class="form-control" placeholder="Username">
							</div>
							<div class="input-group" >
								<input style="border-radius:0 0 0 10px;" name="password" id="password" type="password" class="form-control" placeholder="Password">
								<span class="input-group-btn">
									<button style="border-radius:0 0 10px 0;" id="btn_login" type="submit" class="btn btn-default">Login</button>
								</span>
							</div> -->
					</form>
				</div>
				<div class="modal-footer">
						<button ng-show="editMode() == 'update'" type="button" class="btn btn-danger" ng-click="deleteItem();">Delete item <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
						<button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
						<button ng-show="editMode() == 'update'" type="button" class="btn btn-success" ng-click="submitItem();">Submit changes <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
						<button ng-hide="editMode() == 'update'" type="button" class="btn btn-success" ng-click="createItem();">Create item <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
				</div>
			</div>
		</div>
	</div>
</div>