<link rel="stylesheet" href="styles/menu.css">
<div>
	<div class="color-bg topic-padding">
		<div class="container">
			<div class="jumbotron inline-text lil-jumbo">
				<h2>Drinks</h2>
			</div>
		</div>
	</div>
	<div ng-controller="menuCtrl as menu">
		<div class="dark-coffee-bg topic-padding">
			<div class="container">
				<div class="panel panel-default menuTable">
					<table class="table panel-body">
						<tbody id="drink-list">
							<tr ng-repeat="drink in drinks">
								<th>{{drink.name}}</th>
								<td>{{drink.description}}</td>
								<td>{{drink.price}} &euro;</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div> <!-- coffee-bg -->
		<div class="color-bg topic-padding">
			<div class="container">
				<div class="jumbotron inline-text lil-jumbo">
					<h2>Snacks</h2>
				</div>
			</div>
		</div> <!-- color-bg -->
		<div class="chocolate-bg topic-padding">
			<div class="container">
				<div class="panel panel-default menuTable">
					<table class="table panel-body">
						<tbody id="item-list">
							<tr ng-repeat="sweet in sweets">
								<th>{{sweet.name}}</th>
								<td>{{sweet.description}}</td>
								<td>{{sweet.price}} &euro;</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div> <!-- chocolate-bg -->
	</div>
</div>
