<div ng-controller="loginCtrl as login" >
	<div class="navbar-inverse navbar-fixed-top boxShadow">
		<div class="container">
			<nav class="navbar">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<div class="mobile-brand">
							<a id="my-brand-mobile" class="" ui-sref="home"> <!--navbar-brand-->
								<img alt="Brand" src="styles/images/tally_logo.png" class="logoMargin">
							</a>
				  		</div>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="desktop-brand">
								<a id="my-brand" ui-sref="home"> <!--class= navbar-brand -->
									<img alt="Brand" src="styles/images/tally_logo.png" class="logoMargin">
								</a>
					  		</li>
							<li ui-sref-active="active">
								<a href ui-sref="menu" ng-click="tooltips();">On the Menu</a>
							</li>
							<li ng-show="!getLogin();" >
								<!-- Button trigger modal -->
								<a href="#"  data-toggle="modal" data-target="#myModal">
									Log in <span class="glyphicon glyphicon-user"></span>
								</a>
							</li>
							<li class="dropdown" ng-show="getLogin();" ng-controller="userCtrl as user">
								<a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{userData.nick}} <span class="glyphicon glyphicon-home"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li ui-sref-active="active"><a ui-sref="notifications">Notifications <span class="badge">{{userData.feeds()}}</span></a></li>
									<li ui-sref-active="active"><a ui-sref="leaderboard">Leader Board</a></li>
									<li class="divider"></li>
									<li ui-sref-active="active"><a class="" ui-sref="settings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
									<li ui-sref-active="active"><a class="" ui-sref="favorites"><span class="glyphicon glyphicon-star"></span> Favorites</a></li>
									<li class="divider"></li>
									
									<li ui-sref-active="active"><a class="" href="/apis/users/testing_unit.html"><span class="glyphicon glyphicon-cloud"></span> Ajax BackEnd Testing Unit</a></li>

									<li ui-sref-active="active"><a class="" ui-sref="logout"><span class="glyphicon glyphicon-off"></span> Log out</a></li>
								</ul>
							</li>
							<li>
								<button id="switch" class="btn btn-warning" ng-click="switchMode();">Switch Mode</button>
							</li>
						</ul>
						<!-- <form class="navbar-form navbar-left menu-search not-available" role="search">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Search for Sweets&amp;Drinks">
								<span class="input-group-btn">
									<button type="submit" class="btn btn-default">Go!</button>
								</span>
							</div>
						</form> -->
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>	
		</div><!-- container -->
	</div> <!-- navbar -->
</div>
