<div ng-controller="userCtrl as user">
	<div class="topic-padding drinks-bg">
		<div class="container">
			<div class="panel panel-default bg-75perc-white">
				<div class="panel-heading">
					<div class=" inline-text">
						<h1 style="font-size:45px;"><small>Welcome, </small>{{userData.firstname}} {{userData.lastname}}!</h1>
					</div>
				</div>
				<div class="panel-body">
					<div class="jumbotron inline-text">
						<h3>Your balance: <strong><span id="balance" style="font-size:35px;" class="text-success">{{userData.balance | number:2}} &euro;</span></strong></h3>
						<div class="progress">
							<div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%">
								<span class="sr-only">55&euro;</span>
							</div>
						</div>
						<div id="btn-good" class="btn btn-success">Example: Positive</div>
						<div id="btn-neutral" class="btn btn-warning">Example: Neutral</div>
						<div id="btn-bad" class="btn btn-danger">Example: Warning</div>
					</div>
					<div class="col-md-4">
						<div class="jumbotron lil-jumbo inline-text">
							<h3>Latest purchases:</h3>
							<table class="table panel-body">
								<tbody>
									<tr ng-repeat="item in userData.history">
										<th scope="row">{{item.title}}</th>
										<td>{{item.price | number:2}}&euro;</td>
										<td style="font-size:80%">{{item.date | date:"dd.MM.yyyy HH:mm 'Uhr'"}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="col-md-8">
						<!-- <div class="jumbotron lil-jumbo"> -->
						<div class="panel panel-default" style="border-radius:0 15px 15px 0;">
							<div class="panel-heading inline-text" style="border-radius:0 15px 0 0;">
								<h3>You got {{userData.feeds}} notification(s):</h3>
							</div>
							<div class="panel-body panel-notifications" style="margin:0 20px;">
								<div class="row" ng-repeat="message in userData.messages">
									<div class="alert alert-dismissible" ng-class="message.type" role="alert">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="delete();"><span aria-hidden="true">&times;</span></button>
										<strong>{{message.title}}:</strong> {{message.msg}}</a>
									</div>
								</div>
								<!-- <a class="alert-link" href="menu.html"> menu?</a> -->
							</div> <!-- panel-body -->
						</div> <!-- panel -->
					</div> <!-- col-md-8 -->
				</div>
			</div>
		</div> <!-- container -->
	</div> <!-- color-bg -->
</div>	
