<link rel="stylesheet" href="styles/notifications.css">

<div ng-controller="userCtrl as user">
	<div class="topic-padding drinks-bg">
		<div class="container">
			<div class="panel panel-default bg-75perc-white">
				<div class="panel-heading">
					<div class=" inline-text">
						<h1 style="font-size:45px;"><small>Welcome, </small>{{userData.Firstname}} {{userData.Lastname}}!</h1>
					</div>
				</div>
				<div class="panel-body">
					<div class="jumbotron inline-text balancePanel" ng-hide="loading">
						<div class="row">
							<div class="col-md-3 col-sm-12">
								<img class="thumbnail" ng-src="/sqlite{{userData.Image}}" alt="" style="max-width: 150px; margin: auto;">
							</div>	
							<div class="col-md-8 col-sm-12 col-md-offset-1">
								<h3>Your balance: <strong><span id="balance" style="font-size:35px;" ng-class="'text-'+barColor();">{{userData.Credits | number:2}} &euro;</span></strong></h3>
								<div class="progress">
									<div class="progress-bar progress-bar-striped active" ng-class="'progress-bar-'+barColor();" role="progressbar" aria-valuenow="{{userData.Credits}}" aria-valuemin="0" aria-valuemax="100" style="width: {{userData.Credits | positive}}%">
										<span class="sr-only">{{userData.Credits}}&euro;</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="jumbotron inline-text" ng-show="loading">
						<h3>loading...</h3>
					</div>
					<div class="col-md-8">
						<!-- <div class="jumbotron lil-jumbo"> -->
						<div class="panel panel-default messagePanel">
							<div class="panel-heading inline-text">
								<h3>You got {{userData.messages.length}} message<span ng-show="userData.messages.length >1">s</span>:</h3>
							</div>
							<div class="panel-body panel-notifications">
								<div class="row" ng-repeat="message in userData.messages">
									<div class="alert" ng-class="message.Type" role="alert">
										<button type="button" class="close" aria-label="Close" ng-click="deleteMessage($index, message.Message_ID);"><span aria-hidden="true">&times;</span></button>
										<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><strong>{{message.Sender}}<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"> {{message.Title}} </strong>
										<hr>
										{{message.Message}}</a>
									</div>
								</div>
								<!-- <a class="alert-link" href="menu.html"> menu?</a> -->
							</div> <!-- panel-body -->
						</div> <!-- panel -->
					</div> <!-- Messages col-md-4 -->
					<div class="col-md-4">
						<div class="jumbotron lil-jumbo inline-text purchases">
							<h3>Latest purchases:</h3>
							<table class="table panel-body">
								<tbody>
									<tr ng-repeat="item in userData.history">
										<th scope="row">{{item.title}}</th>
										<td>{{item.price | number:2}}&euro;</td>
										<td style="font-size:80%">{{item.date | date:"dd.MM.yyyy HH:mm 'Uhr'"}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div> <!-- Latest purchases col-md-4 -->
				</div>
			</div>
		</div> <!-- container -->
	</div> <!-- color-bg -->
</div>	
