.darkBG {
	background: #999;
	color: black;
	padding: 5px;
}
.darkerBG {
	background: #666;
	color: rgb(230,230,230);
	padding: 5px;
}
.darkestBG {
	background: #333;
	color: white;
	padding: 5px;
}

header h1 {
	background: #666;
	color: white;
	padding: 5px;
	margin: 0;
}

.navbar {
	min-height: 65px;
}

.jumbo_subtitle {
	color: #777;
}

